/*section {
	border: 1px;
	border-color: #292929;
	border-style: solid;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #efe9e6;
}
	
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #efe9e6;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: #292929;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover:not(.active) {
 	 background-color: #e3c2f6;
}

.active {
  background-color: #e3c2f6;
}

header {
	background-image: linear-gradient(to bottom right, #b078ff, #e3c2f6);
	background-position: center;
	background-size: cover;
	margin: 0;
}

header h1 {
	font-size: 40px;
	text-align: center;
	color: #292929;
	padding: 60px 10px 60px 10px;	
	margin: 0;
}

section {
	width: 70%;
	margin: auto;
	font-size: 18px;
	color: #292929
}

.lead {
	font-size: 30px;
}

section img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
	padding: 30px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 20px;
}

footer {
	background-image: linear-gradient(to bottom right, #e3c2f6, #b078ff);
	margin-top: auto;
	padding: 0;
}
footer p {
	color: #292929;
	text-align: center;
	padding: 30px;
	font-size: 15px;
}

@media only screen and (min-width: 650px) {
section {
	width: 75%;
	font-size: 20px;
}
	header h1 {
	font-size: 60px;
	padding: 80px 10px 80px 10px;	
}
	footer p {
	font-size: 20px
}
}

@media only screen and (min-width: 1025px) {
section {
	width: 55%;
	font-size: 22px;
}
	header h1 {
	font-size: 80px;
	padding: 100px 10px 100px 10px;	
}
	}
	footer p {
	font-size: 22px
}
}
